<template lang="pug">
    #Users
        h1 USERS
        router-link#createUser(:to="{name:'create-user'}") Create user
</template>
<script>
export default {
    
}
</script>
<style lang="scss" scoped>

</style>